  body {
      background-image: url(./Image/background\ img2.png);
      justify-content: center;
      
      display: center;
    }

    nav {
        background-color: #212121;
        padding: 25px 35px;
        display: flex;
        align-items: center;
        
        
    }

    nav a {
        color: red;
        font-size: 25px;
        margin-right: 35px;
        
    }

    nav .right {
        margin-left: auto;
    }

    nav a:hover {
        color: white;
        text-decoration: none;
        
    }


    h1 {
      padding-left: 150px;
      padding-top: 50px;
      font-size: 50px;
      font-family: Arial, Helvetica, sans-serif;
      color: #0B192C;
    }

    .name {
      display: flex;
      gap: 400px;
      padding-left: 400px;
    }

    .img {
      display: flex;
      gap: 250px;
      padding-left: 325px;
    }

    .img2 {
      display: flex;
      gap: 250px;
      padding-left: 325px;
      margin-top: 0px;
    }

    .img3 {
      display: flex;
      gap: 250px;
      padding-left: 325px;

    }

    


    .descriptionF {
      display: inline-flex;
      padding-left: 500px;
      color: #0B192C;
      font-size: 20px;
      gap: 250px;

    }

    .descriptionS {
      display: inline-flex;
      color: #0B192C;
      font-size: 20px;
      gap: 250px;
      padding-left: 500px;
    }

    .descriptionJ {
      display: inline-flex;
      color: #0B192C;
      font-size: 20px;
      gap: 250px;
      padding-left: 500px;
    }

    
